---
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
AlignEscapedNewlines: DontAlign
PointerAlignment: Right
SortIncludes: Never
ColumnLimit: 0
